:root {
  --main-font: Roboto, sans-serif;
  --main-item-font-color: #ffffff;
  --main-bg-color: rgb(252, 251, 238);
  --main-color: #000000;
  --main-font-size: 2rem; 
  --modal-bg-color: rgb(252, 251, 238);
  --header-button-color: #007bff;
  --main-modal-border-color: #ced4da;
}

html {
  font-size: 10px;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-size: var(--main-font-size);
  font-family: var(--main-font);
  background-color: var(--main-bg-color);
}

.grid-container {
 display: grid;
 min-height: 100vh;
 grid-template-columns: 3fr 1fr;
 grid-template-rows: 15rem 1fr 10rem;
}

button {
  user-select: none;
  cursor: pointer;
  outline: none;
}

.grid-container__header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-left: 2rem;
}

.grid-container__header h1 {
  flex-basis: 100%;
  font-size: 6rem;
  margin: 0;
  color: var(--main-bg-color);
  -webkit-text-stroke: .1rem var(--header-button-color);
}

.grid-container__header > button {
  margin-right: 10rem;
}

button {
  padding: 1rem;
  color: var(--header-button-color);
  background-color: transparent;
  border: .1rem solid var(--header-button-color);
  border-radius: .5rem;
}

.header-sort {
  display: flex;
  justify-content: flex-start;
  align-items: center;  
}

.header-button-sort {
  border-radius: 0;
  margin: 0;
}

.header-button-sort.active {
  color: #ffffff;
  background-color: var(--header-button-color);
}

.header-button-sort:first-child {
  border-radius: .5rem 0 0 .5rem ;
}

.header-button-sort:last-child {
  border-radius: 0 .5rem .5rem 0;
}

button:hover {
  color: #ffffff;
  background-color: var(--header-button-color);
}

.grid-container__main {
  grid-row: 2;
  grid-column: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.grid-container__side {
  grid-area: 1/2/span 2;
}

.grid-container__footer {

}

.main-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: 35rem;
  width: 25rem;
  margin: 2rem;
  padding: 1rem 0 0 2rem;
  color: var(--main-item-font-color);
  border-radius: .5rem;
  cursor: pointer;
  background: no-repeat url(cover-template-blue.jpg);
  background-size: cover;
  box-shadow: .1rem .1rem .5rem .1rem rgba(0,0,0,0.3);
}

.main-item:hover {
  /* transform: perspective(100rem) rotateY(-10deg); */
  transform: scale(1.05);
  box-shadow: -.2rem .1rem .5rem .1rem rgba(0,0,0,0.3); 
}

.main-item:hover .main-item__delete {
  display: block;
}

.main-item h1 {
  margin: 0;
  line-height: 3.5rem;
  overflow-wrap: anywhere;
}

.main-item h2 {
  line-height: 3.5rem;
  overflow-wrap: anywhere;
  margin: 0;
}

.main-item__pages {
  margin-top: auto;
}

.main-item__delete {
  display: none;
  position: absolute;
  top: -0.75rem;
  right: -0.75rem;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  z-index: 0;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 .5rem .1rem rgba(0,0,0,0.3);
}

.main-item__delete svg {
  position: relative;
  z-index: -1;
}

.main-item__readstatus-container {
  display: flex;
  align-items: center;
  align-self: flex-end;
}

.main-item__readstatus {
  width: 5rem;
  height: 5rem;
  margin: .5rem;
  border-radius: 50%;
  box-shadow: 0 0 0.3rem 0.1rem rgba(0,0,0,0.3)
}

.main-item__readstatus:hover {
  background-color: rgba(255,255,255,0.3);
}

.main-item__readstatus-true {
  background: url(check_circle_outline-24px.svg);
}
.main-item__readstatus-false {
  background: url(query_builder-24px.svg);
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 10rem;
  background-color: rgba(0,0,0,0.3);
  font-size: var(--main-font-size);
}

.modal-content {
  position: relative;
  width: 50rem;
  margin: 0 auto;
  padding: 2rem;
  border: 1px solid var(--main-modal-border-color);
  border-radius: .5rem;
  background-color: var(--modal-bg-color);
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.2);
  animation-name: animatetop;
  animation-duration: 0.4s;
}

.modal-form {
  margin: 0;
}

.modal-form__group {
  margin-bottom: 1rem;
}

.modal-form__group input {
  display: block;
  padding: 1rem;
  border: 1px solid var(--main-modal-border-color);
  border-radius: .5rem;  
}

.modal-form__group label {
  display: inline-block;
  margin-bottom: .5rem;
}

.modal-form__checkbox {
  margin-bottom: 1rem;
}

.modal-form button[value="close"] {
  border: 1px solid red;
  color: var(--main-item-font-color);
  background-color: red;
} 

.modal-form button[value="close"]:hover {
  color: red;
  background-color: transparent;
}

@keyframes animatetop {
  from {top: -30rem; opacity: 0}
  to {top: 0rem; opacity: 1}
}