:root {
  --main-bg-color: rgb(252, 251, 238);
  --main-color: #000;
  --main-font-size: 2rem; 
  --modal-bg-color: rgb(207, 207, 207);
  --delete-button-color: rgb(255, 0, 0);
  --temp-bg-color: rgb(190, 231, 255);
  /* color variables */
}

html {
  font-size: 10px;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-size: var(--main-font-size);
}

.grid-container {
 display: grid;
 min-height: 100vh;
 grid-template-columns: 3fr 1fr;
 grid-template-rows: 10rem 1fr 10rem;
 background-color: var(--main-bg-color);
}

button {
  /* font-size: 2rem; */
}

.grid-container__header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.grid-container__main {
  grid-row: 2;
  grid-column: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 1rem;
}

.grid-container__side {
  grid-area: 1/2/span 2;
}

.grid-container__footer {

}

.main-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  height: 30rem;
  width: 20rem;
  margin: 1rem;
  cursor: pointer;
  background-color: var(--temp-bg-color);
  box-shadow: .1rem .1rem .5rem .1rem rgba(0,0,0,0.3);
  /* filter: drop-shadow(.1rem .1rem .5rem rgba(0, 0, 0, 0.3)); */
}

/* pseudo-elements are not part of the DOM  */
/* .main-item:before {
  display: block;
  content: '';
  height: 1.5rem;
  width: 1.5rem; 
  border-radius: 50%;
  background-color: var(--delete-button-color);
  box-shadow: .05rem 0 .2rem .1rem rgba(0,0,0,0.3);
  position: absolute;
  top: -.75rem;
  right: -.75rem;
} */
.main-item__delete {
  position: absolute;
  top: -0.75rem;
  right: -0.75rem;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  background-color: var(--delete-button-color);
  box-shadow: .05rem 0 .2rem .1rem rgba(0,0,0,0.3);
}

.main-item:hover {
  transform: perspective(100rem) rotateY(-10deg);
  box-shadow: -.2rem .1rem .5rem .1rem rgba(0,0,0,0.3); 
}

/* .main-item:hover:before {
  box-shadow: -.05rem 0 .2rem .1rem rgba(0,0,0,0.3);
} */

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 20rem;
  width: 100%;
  height: 100%;
  font-size: var(--main-font-size);
}

.modal-content {
  position: relative;
  width: 50rem;
  margin: 0 auto;
  padding: 2rem;
  background-color: var(--modal-bg-color);
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  animation-name: animatetop;
  animation-duration: 0.4s;
}

@keyframes animatetop {
  from {top: -30rem; opacity: 0}
  to {top: 0rem; opacity: 1}
}